apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: argocd-cluster-resources
rules:
  # External Secrets
  - apiGroups:
      - external-secrets.io
    resources:
      - clustersecretstores
      - clusterexternalsecrets
      - externalsecrets
      - secretstores
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  # OpenShift OAuth
  - apiGroups:
      - oauth.openshift.io
    resources:
      - oauthclients
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  # Red Hat Developer Hub
  - apiGroups:
      - rhdh.redhat.com
    resources:
      - backstages
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: argocd-cluster-resources
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: argocd-cluster-resources
subjects:
  - kind: ServiceAccount
    name: openshift-gitops-argocd-application-controller
    namespace: openshift-gitops
